<div class="row center">

    <form>
        <div class="input-field">
          <input #search type="search" (keyup)="searchArtist(search.value)" placeholder="Search artist..." required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>


</div>

<div class="row center">
    <div *ngFor="let artist of artists" class="col s12 m3">
      <app-card [item]="artist" type="artist"></app-card>

    </div>
  </div>